<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="bs-docs-section">
        <h1>Products &amp; Components</h1>
        <div class="bs-icons">
          <ul class="bs-icons-list">
            <li>
              <img src="assets/images/angular.svg">
              <span class="icon-class">angular</span>
            </li>
            <li>
              <img src="assets/images/bootstrap-solid.svg">
              <span class="icon-class">bootstrap</span>
            </li>
            <li>
              <img src="assets/images/electron-logo.svg">
              <span class="icon-class">electron</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
